/*@font-face{ font-family:'alegreya'; 
font-weight: normal;
src: url('alegreya/Alegreya-Bold.otf') format('opentype');
}*/

code {
  font-weight: normal
}

.red {
  color: #ff0000;
}

#green {
  color: #00ff00;
}

* {
  font-weight: normal;
  font-family: 'alegreya';
}

span {
  color: #0000ff;
}

a ~ span {
  color: #aa00aa;
  font-weight: normal
}

[title] {
  font-style: italic
}

[title = foo] {
  text-transform: uppercase
}

[title ~= bar] {
  letter-spacing: 0.3em
}

[lang |= en] {
  font-family: monospace
}

a[href ^= "http"] {
  font-style: italic
}

a[href $= ".pdf"] {
  font-family: cursive;
  background-image: url(#relative) /* non-sensical, just for demoing URLs without quotes, but with fragment identifiers */
}

a[href *= "le-tex"] {
  color: black;
  text-decoration: underline
}


td,
th {
  border: 1px solid black;
  padding: 4pt;
}

th {
  text-align: left;
  background-color: #e0e0e0;
}
@media only screen and (min-resolution : 300dpi) and (min-resolution : 300dpi) {
  div.comment-notes {
    width: 90%;
    max-width: 90%;
  }
}


@media print {
  .menu,
  .werbung {
    display: none;
  }
  div.comment-notes {
    width: 90%;
    max-width: 90%;
  }

  @page {
    size: 120mm 190mm;
  }

  @page :left {
    margin-left: 2cm;
    margin-right: 1cm;
    margin-top: 1.5cm;
    margin-bottom: 3cm;
  }


  @page {
    counter-increment: page; /* was wird gezählt */

  }

  a[href]::after {
    content: target-counter(attr(href), page);
    float: right;
  }
  
  /*-----------------------------------------------Kolumnentitel erstellen----- */
    h4{
         string-set: chaptertitle content();} /* definfition eines string-sets (ermöglicht die Speicherung der Zeichenkette eines Element*/                               
                                        /* in einer Variablen ->chaptertitle */        
    @page:left{
        @top-left {
        content: string(chaptertitle);        /* content:string() ermöglicht Aufruf des Inhalts von chaptetitle */
        font-family: 'Montserrat';
        font-size:6pt;
        }
        }
    @page:right{
        @top-right{
          content: string(chaptertitle);
          font-family: 'Montserrat'; 
          font-size:6pt;
        }
    }
}